.ariaInput:global(.__wab_instance) {
  box-sizing: border-box;
  box-shadow: inset 0px 0px 0px 1px var(--token-NnOjGkh9P4jG);
  color: var(--token-a-oFqAaZ1o8_);
  font-family: var(--token-IUFa6K215Spz);
  font-size: var(--token-5kw2mPyJf-Up);
  line-height: var(--token-wOzBazBi274r);
  width: 100%;
  position: relative;
  outline-style: none;
  min-width: 0;
  border-radius: var(--token-hBnQDo7-mTgZ);
  padding: var(--token-hBnQDo7-mTgZ) var(--token-QoIh7m08e5ez);
  border-style: none;
}
.ariaInput[data-disabled][data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.ariaInput[data-focused][data-focused]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-yNEAzI4_mHh7);
  outline-offset: 1px;
  outline-color: var(--token-KrKJ5adBWhob);
}
.ariaInputtype_soft:global(.__wab_instance) {
  background: var(--token-FR72CaYVbXP2);
  box-shadow: none;
}
.ariaInputtype_soft[data-hovered][data-hovered]:global(.__wab_instance) {
  background: var(--token-Ak6Ag-rqSMDY);
}
.ariaInputtype_plain:global(.__wab_instance) {
  box-shadow: none;
}
.ariaInputtype_plain[data-hovered][data-hovered]:global(.__wab_instance) {
  background: var(--token-FR72CaYVbXP2);
}
.ariaInputflat_top:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.ariaInputflat_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaInputflat_bottom:global(.__wab_instance) {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaInputflat_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.ariaInputpadded_left:global(.__wab_instance) {
  padding-left: var(--token-6q2L4JObMaIY);
}
.ariaInputpadded_right:global(.__wab_instance) {
  padding-right: var(--token-6q2L4JObMaIY);
}
