.ariaRadioGroup:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--token-jxveW-ZKQ0qQ);
  min-width: 0;
}
.ariaRadioGroup[data-disabled][data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.freeBox__poNg {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: var(--token-jxveW-ZKQ0qQ);
}
.radio__hdl2O:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__bGgGq:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__bkr4Y:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
