.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-KrKJ5adBWhob);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-MWRf1R43p22z);
  font-family: var(--token-IUFa6K215Spz);
  font-size: var(--token-5kw2mPyJf-Up);
  line-height: var(--token-wOzBazBi274r);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-hBnQDo7-mTgZ);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible][data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-yNEAzI4_mHh7);
  outline-offset: 1px;
  outline-color: var(--token-KrKJ5adBWhob);
}
.root[data-disabled][data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-zW0ukvPO7Qyf);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-S2iRSmtB6vDb);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-f_iyPPGs3Vx1);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-5304qVQc-zo0);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-le0gZUnP_QXG);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-tasSGMIEr8d6);
  font-size: var(--token-V-mSHogMDe45);
  column-gap: var(--token-yNEAzI4_mHh7);
  row-gap: 0px;
  border-radius: var(--token-jxveW-ZKQ0qQ);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-V-mSHogMDe45);
  line-height: var(--token-tasSGMIEr8d6);
  column-gap: var(--token-jxveW-ZKQ0qQ);
  row-gap: 0px;
  border-radius: var(--token-jxveW-ZKQ0qQ);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-o3k4oD0GhvwS);
  line-height: var(--token-IPKDOWJleJMn);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-o3k4oD0GhvwS);
  line-height: var(--token-IPKDOWJleJMn);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-Z5sfDLTZqmnK);
  border-radius: var(--token-hBnQDo7-mTgZ);
}
.softBackgroundcolor_neutral {
  background: var(--token-2R2jPLrt0nvU);
}
.softBackgroundcolor_muted {
  background: var(--token-FR72CaYVbXP2);
}
.softBackgroundcolor_success {
  background: var(--token-dIuEgqG6xbS1);
}
.softBackgroundcolor_warning {
  background: var(--token-JE3oIK1GRK1i);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-Df6NGEkk1ESQ);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-hBnQDo7-mTgZ);
  border: 0px solid var(--token-Y1t9sD6SDSOV);
}
.bordercolor_neutral {
  border-color: var(--token-7ty3rZh_28HN);
}
.bordercolor_muted {
  border-color: var(--token-UbKUb5BhrBTB);
}
.bordercolor_success {
  border-color: var(--token-895y0Ngbwjc0);
}
.bordercolor_warning {
  border-color: var(--token-2cLRam-Gkq6W);
}
.bordercolor_errorDestructive {
  border-color: var(--token-rrv-1PkNdDNF);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-hBnQDo7-mTgZ);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-JAsskwdoEj6d);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-DYh1tiUkk0Qy);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-0JmnblIUNjT_);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__bw4L {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token-hBnQDo7-mTgZ);
  min-width: 0;
  min-height: 0;
  padding: var(--token-hBnQDo7-mTgZ) var(--token-QoIh7m08e5ez);
}
.freeBoxsize_extraSmall__bw4L9PfUs {
  padding: var(--token-jxveW-ZKQ0qQ) var(--token-hBnQDo7-mTgZ);
}
.freeBoxsize_small__bw4LpOru1 {
  padding: var(--token-hBnQDo7-mTgZ) var(--token-MWRf1R43p22z);
}
.freeBoxsize_large__bw4LQ2KDa {
  padding-top: var(--token-jxveW-ZKQ0qQ);
  padding-bottom: var(--token-jxveW-ZKQ0qQ);
}
.freeBoxsize_extraLarge__bw4Lf6U3J {
  padding-left: var(--token-pW6WckFi_J_M);
  padding-right: var(--token-pW6WckFi_J_M);
}
.freeBoxroundedFull__bw4L04Ywq {
  padding-right: var(--token-pW6WckFi_J_M);
  padding-left: var(--token-pW6WckFi_J_M);
}
.freeBox___3Skzw {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart___3SkzWnev6A {
  display: flex;
}
.slotTargetStart {
  color: var(--token-IjunUhxeXxDq);
}
.slotTargetStartcolor_neutral {
  color: var(--token-k4-QGYsjK-0o);
}
.slotTargetStartcolor_muted {
  color: var(--token-ZLRBr38ROO-5);
}
.slotTargetStartcolor_success {
  color: var(--token-C33BWne-jfXH);
}
.slotTargetStartcolor_warning {
  color: var(--token-I0EqEkUosjdK);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-eKa7LVhLfV9z);
}
.slotTargetStarttype_soft {
  color: var(--token-0qJTRtQxeXAY);
}
.slotTargetStarttype_bordered {
  color: var(--token-0qJTRtQxeXAY);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-V-mSHogMDe45);
}
.slotTargetStartsize_small {
  font-size: var(--token-V-mSHogMDe45);
}
.slotTargetStartsize_large {
  font-size: var(--token-o3k4oD0GhvwS);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-o3k4oD0GhvwS);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-6qPdCOx9YpMH);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-6qPdCOx9YpMH);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-nTJS-3U6taqT);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-nTJS-3U6taqT);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-datB-xwWgKkH);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-datB-xwWgKkH);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-1Z5e9VXqXHBB);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-1Z5e9VXqXHBB);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-xwi5ol_IOdFY);
}
.slotTargetStartcolor_errorDestructive_type_bordered {
  color: var(--token-xwi5ol_IOdFY);
}
.svg__iFtWb {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-IjunUhxeXxDq);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-k4-QGYsjK-0o);
}
.slotTargetLabelcolor_muted {
  color: var(--token-ZLRBr38ROO-5);
}
.slotTargetLabelcolor_success {
  color: var(--token-C33BWne-jfXH);
}
.slotTargetLabelcolor_warning {
  color: var(--token-I0EqEkUosjdK);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-eKa7LVhLfV9z);
}
.slotTargetLabeltype_soft {
  color: var(--token-0qJTRtQxeXAY);
}
.slotTargetLabeltype_bordered {
  color: var(--token-0qJTRtQxeXAY);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-6qPdCOx9YpMH);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-nTJS-3U6taqT);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-6qPdCOx9YpMH);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-datB-xwWgKkH);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-nTJS-3U6taqT);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-1Z5e9VXqXHBB);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-datB-xwWgKkH);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-xwi5ol_IOdFY);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-1Z5e9VXqXHBB);
}
.slotTargetLabelcolor_errorDestructive_type_bordered {
  color: var(--token-xwi5ol_IOdFY);
}
.text__n19GR {
  white-space: pre;
}
.freeBox__d2Hmj {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__d2HmjROSb {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-IjunUhxeXxDq);
}
.slotTargetEndcolor_neutral {
  color: var(--token-k4-QGYsjK-0o);
}
.slotTargetEndcolor_muted {
  color: var(--token-ZLRBr38ROO-5);
}
.slotTargetEndcolor_success {
  color: var(--token-C33BWne-jfXH);
}
.slotTargetEndcolor_warning {
  color: var(--token-I0EqEkUosjdK);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-eKa7LVhLfV9z);
}
.slotTargetEndtype_soft {
  color: var(--token-0qJTRtQxeXAY);
}
.slotTargetEndtype_bordered {
  color: var(--token-0qJTRtQxeXAY);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-V-mSHogMDe45);
}
.slotTargetEndsize_small {
  font-size: var(--token-V-mSHogMDe45);
}
.slotTargetEndsize_large {
  font-size: var(--token-o3k4oD0GhvwS);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-o3k4oD0GhvwS);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-6qPdCOx9YpMH);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-6qPdCOx9YpMH);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-nTJS-3U6taqT);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-nTJS-3U6taqT);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-datB-xwWgKkH);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-datB-xwWgKkH);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-1Z5e9VXqXHBB);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-1Z5e9VXqXHBB);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-xwi5ol_IOdFY);
}
.slotTargetEndcolor_errorDestructive_type_bordered {
  color: var(--token-xwi5ol_IOdFY);
}
.svg__qiVA {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
